<ul class="links">
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/consulting/' %} active {% endif %}"><a href="{{ "/consulting/" | absolute_url }}">Consulting</a></li>
  <li class="{% if page.url contains '/solutions/' %} active {% endif %}"><a href="{{ "/solutions/" | absolute_url }}">Solutions</a></li>
  <li class="{% if page.url contains '/security/' %} active {% endif %}"><a href="{{ "/security/" | absolute_url }}">Security</a></li>
  <li class="{% if page.url contains '/assets/' %} active {% endif %}"><a href="{{ "/assets/" | absolute_url }}">Assets</a></li>
</ul>